<?xml version="1.0"?>
<robot name="my_robot">

  <material name="blue"><!--for sliding parts-->
    <color rgba="0.0 0.0 1.0 0.0"/>
  </material>

  <material name="green"><!--for rotational parts-->
    <color rgba="0.0 1.0 0.0 0.0"/>
  </material>

  <material name="white"><!--for statinorary parts-->
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
<!-- Base plate -->
<!--Base motor-->
<!--shoulder motor case-->
<!--shoulder motor-->
<!--upper arm-->
<!--elbow motor case-->
<!--elbow motor-->
<!--forearm-->
<!--wrist motor case-->
<!--wrist motor-->
<!--hand-->
<!--gripper motor case-->
<!--left gripper-->
<!--right gripper-->
<!--link and joint outline-->
  <link name="">
    <visual>
      <geometry>
        <cylinder radius="0.0" length="0.0"/>
        <box size="0.0 0.0 0.0"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <material name=""/>
    </visual>
  </link>

  <joint name="" type="">
    <parent link="parent_link"/>
    <child link="child_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 0.0"/>
  </joint>
 </robot>